In [2]:
import pandas as pd
from sklearn.decomposition import PCA

In [41]:
ames_data = pd.read_csv("AmesHousing.csv")

In [ ]:
#only looking at numerical data for now to make things simple

In [42]:
numerical_columns = ames_data.describe().columns

In [47]:
numerical_ames_data = ames_data[numerical_columns]

In [48]:
numerical_ames_data.shape

(2930, 39)

In [49]:
numerical_ames_data = numerical_ames_data.dropna()

In [51]:
feature_columns = numerical_columns[:len(numerical_columns)-1]

In [52]:
import numpy as np

In [53]:
feature_vectors = np.array(numerical_ames_data[feature_columns])

In [54]:
class_labels = np.array(numerical_ames_data["SalePrice"])

In [55]:
from sklearn.feature_selection import SelectKBest

In [56]:
from sklearn.feature_selection import f_regression

In [ ]:
#used a univariate selection for the feature extraction step:
https://machinelearningmastery.com/feature-selection-machine-learning-python/

In [65]:
test = SelectKBest(score_func=f_regression, k=10)
fit = test.fit(feature_vectors, class_labels)

In [66]:
from numpy import set_printoptions

In [69]:
set_printoptions(precision=3)
print(fit.scores_)

[4.182e+00 1.529e+02 1.456e+01 3.201e+02 2.401e+02 4.152e+03 6.238e+01
 1.036e+03 9.267e+02 8.773e+02 5.326e+02 6.269e-01 9.434e+01 1.625e+03
 1.566e+03 1.546e+02 1.500e+00 2.365e+03 1.977e+02 5.676e+00 1.038e+03
 1.773e+02 5.028e+01 2.830e+01 8.567e+02 6.143e+02 9.444e+02 1.766e+03
 1.643e+03 2.789e+02 2.783e+02 4.721e+01 5.412e-01 2.704e+01 1.049e+01
 4.056e-01 2.151e+00 1.109e+00]

In [76]:
features = fit.transform(feature_vectors)

In [83]:
best_feature_columns = numerical_ames_data.columns[test.get_support(indices=True)]
best_features = numerical_ames_data[best_feature_columns]

In [85]:
best_features.head()

,Overall Qual,Year Built,Year Remod/Add,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,Garage Yr Blt,Garage Cars,Garage Area
0,6,1960,1960,1080.0,1656,1656,1,1960.0,2.0,528.0
1,5,1961,1961,882.0,896,896,1,1961.0,1.0,730.0
2,6,1958,1958,1329.0,1329,1329,1,1958.0,1.0,312.0
3,7,1968,1968,2110.0,2110,2110,2,1968.0,2.0,522.0
4,5,1997,1998,928.0,928,1629,2,1997.0,2.0,482.0

In [24]:
#X_train, y_train, X_test, y_test = train_test_split(feature_vectors, class_labels, random_state=1,test_size=0.25)